*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 25px;
}

.brand {
  text-align: center;
  margin: 0 auto;
}

.brand h1 {
  font-size:125px;
}

.header-image {
  background-image: url('../images/banner.jpg'); 
  height: 40vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  margin-top: 20px;
  text-align: center;
}

.mix-list {
 margin: 0 auto;
}

.card-header {
  margin-top: 25px;
  margin-bottom: 25px;
}


#map {
  height: 200px;
  width: 200px;
  border: 1px solid red;
}

.footer {
  height: 60px;
 
}

.modal-title{
font-size: 25px;

}

#test {
  width: 200px;
  height: 200px;
  border: 1px solid green;
}

.footer {
  margin: 50px 0px 20px 0px
}

@media (max-width: 768px){

}

